@import "tailwindcss";
:root {
  --blue: #253aa6;
}
.blue {
  background: var(--blue);
}

.circle {
  background: linear-gradient(to bottom, #fb71fe, #4965ff);
}
.shadow {
  -webkit-text-stroke: 20px #243041;

  @media screen and (max-width: 650px) {
    -webkit-text-stroke: 10px #243041;
  }
}

.gradient-text {
  display: grid;
  grid-template-areas: "stack";

  > * {
    grid-area: stack;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  letter-spacing: -7px;
  width: max-content;
}

.title2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  letter-spacing: -7px;
  width: max-content;
}

.text-outline {
  background: linear-gradient(#67b6ff, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

body {
  height: 100dvh;
  background: var(--blue);
  color: var(--foreground);
  font-family: "Times New Roman", Helvetica, sans-serif;
}

.main {
  background-image: url("/images/background-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  /* Mobile styles */
  .main {
    background-image: url("/images/background-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles */
  .main {
    background-image: url("/images/background-tablet.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
